.badColor {
    color: #FE0E00;
}

.belowAverageColor {
    color: #FE7903;
}

.averageColor {
    color: #FFC71F;
}

.goodColor {
    color: #44B300;
}

.veryGoodColor {
    color: #318000;
}

.greatColor {
    color: #02C9B3;
}

.unicumColor {
    color: #D042F3;
}

.superUnicumColor {
    color: #A00DC5;
}

.greyColor {
    color: #989898;
}