.badColor {
    color: #FE0E00;
}

.belowAverageColor {
    color: #FE7903;
}

.averageColor {
    color: #FFC71F;
}

.goodColor {
    color: #44B300;
}

.veryGoodColor {
    color: #318000;
}

.greatColor {
    color: #02C9B3;
}

.unicumColor {
    color: #D042F3;
}

.superUnicumColor {
    color: #A00DC5;
}

.greyColor {
    color: #989898;
}

.selected_badColor {
    background-color: #FE0E00;
    color: #FFFFFF;
}

.selected_belowAverageColor {
    background-color: #FE7903;
    color: #FFFFFF;
}

.selected_averageColor {
    background-color: #FFC71F;
    color: #FFFFFF;
}

.selected_goodColor {
    background-color: #44B300;
    color: #FFFFFF;
}

.selected_veryGoodColor {
    background-color: #318000;
    color: #FFFFFF;
}

.selected_greatColor {
    background-color: #02C9B3;
    color: #FFFFFF;
}

.selected_unicumColor {
    background-color: #D042F3;
    color: #FFFFFF;
}

.selected_superUnicumColor {
    background-color: #A00DC5;
    color: #FFFFFF;
}

.selected_greyColor {
    background-color: #989898;
    color: #FFFFFF;
}

.rowSelected {
    background-color: #F4F6F8;
}

.AllTeamToggle {
    background-color: #3f51b5;
    color: #FFFFFF;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 2px;
    padding-bottom: 2px;
    border-radius: 4px;
}

.deletePlayerButton {
    padding: "0px";
}